.navigation{
    width: 30%;
    background-color: rgb(52, 56, 60);
    min-height: 500px;
    border-radius: 3px;
    padding: 10px 8px;
}

.navigation__title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    h2{
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        color: rgb(166, 178, 182);
        @extend %roboto-bold;
    }
}

.navigation__lines-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    .line-long{
        width: 90%;
        height: 3px;
        background-color: rgb(166, 178, 182);
        margin-bottom: 10px;
    }

    .line-short{
        width: 85%;
        height: 3px;
        background-color: rgb(166, 178, 182);
    }
}

.navigation__links-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .nesting_1{
        padding-left: 15px;
        padding-bottom: 15px;
        
        span{
            display: flex;
            flex-direction: row;
            color: rgb(196, 209, 224);
            fill:rgb(196, 209, 224);
            font-size: 24px;
            cursor: pointer;
            @extend %roboto-medium;

            &:hover{
                color: rgb(150, 150, 150);
                transition: color 0.3s, fill 0.3s;
                fill:rgb(150, 150, 150);
            }
        }

        .link{
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;
            align-items: center;
            fill: white;
        }

        .arrow-container{
            width: 15px;
            height: 15px;
            margin-left: 10px;
        }

        svg{
            transition: transform 0.3s;
        }
    }

    .nesting_2{
        padding-left: 20px;

        a{
            color: rgb(196, 209, 224);
            font-size: 18px;
            @extend %roboto-medium;

            &:hover{
                color: rgb(150, 150, 150);
                transition: color 0.3s;
            }
        }

        .link{
            padding-bottom: 5px;
        }
    }
}