<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title lvl1
        link(rel="stylesheet", href="css/style.css")
    body
        include ../header/header.pug
        section.main
            include ../main/navigation/navigation.pug
            section.contents 
                .contnent-title-container 
                    h2.content-title Level 1 
                .text-container
                    p.text  Таким образом новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
                            |Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
                            |Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение 
                            |новых предложений.
                    p.text  Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании 
                            |системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что реализация 
                            |намеченных плановых заданий в значительной степени обуславливает создание модели развития.
                .image-container 
                    img(src="https://pw.mail.ru/images/media/vystavka14/u94055_mtolyarovapnastasiyagikolaev-9.png")
                    p.img-text Рисунок 1 - Пример изображения 1
                .text-container
                    p.text  Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений 
                            |прогрессивного развития. Если у вас есть какие то интересные предложения, обращайтесь! Студия Web-Boss всегда 
                            |готова решить любую задачу. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых 
                            |предложений.
                .list-container
                    ul.list
                        li.list-item 
                            p.list-text Предмет списка 1
                        li.list-item 
                            p.list-text Предмет списка 2  
                        li.list-item 
                            p.list-text Предмет списка 3 
                        li.list-item 
                            p.list-text Предмет списка 4
                        li.list-item 
                            p.list-text Предмет списка 5 
                .text-container
                    p.text  Таким образом новая модель организационной деятельности способствует подготовки и реализации систем массового участия. 
                            |Товарищи! консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. 
                            |Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение 
                            |новых предложений.
        include ../footer/footer.pug