.contents{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
    width: 70%;
}

.title-module{
    h2{
        font-size: 32px;
        @extend %roboto-medium;
        color: rgb(214, 214, 214);
        padding-bottom: 30px;
    }

    h3{
        font-size: 20px;
        @extend %roboto-medium;
        color: rgb(214, 214, 214);
        padding-bottom: 15px;
    }
}

.text-module{
    padding-bottom: 20px;
    
    p{
        font-size: 14px;
        @extend %roboto-regular;
        color: rgb(214, 214, 214);
        text-align: justify;
        padding-bottom: 15px;
    }
}

.image-module{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;

    img{
        height: auto;
        width: 100%;
        max-width: 500px;
        margin-bottom: 10px;
    }

    p{
        font-size: 14px;
        @extend %roboto-regular;
        color: rgb(214, 214, 214);
        text-align: justify;
        padding-bottom: 15px;
    }
}