*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: #000;
}

button{
    cursor: pointer;
    background-color: transparent;
}

.transform-x{
    transform: rotate(180deg);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
%roboto-medium{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
%roboto-regular{
    font-family: 'Roboto', sans-serif;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
%roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
%rajdhani-bold{
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-display: swap;
}

@import 'modules/header/_header';
@import 'modules/footer/_footer';
@import 'modules/main/_main';
@import 'modules/main/content/_content';
@import 'modules/main/navigation/_navigation';