.footer{
    width: 100%;
    min-height: 100px;
    background-color: rgb(26, 28, 30);
}

.footer__links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 10px;

    a{
        padding: 0px 10px;
        font-size: 18px;
        color: rgb(196, 209, 224);
        @extend %roboto-medium;

        &:hover{
            color: rgb(150, 150, 150);
            transition: color 0.3s;
        }
    }
}

.footer__info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: 100%;

    p{
        font-size: 12px;
        color: rgb(196, 209, 224);
        @extend %roboto-regular;
    }
}