footer.footer
    .footer__links-container
        a(href="#") Список используемой литературы
        a(href="#") Стек используемых технологий
    .footer__info-container 
        p Данный справочник разработан студентом группы КТбо3-4 Голинским Н.Е. в 2021г.